{% extends 'home/layout/layout.html' %}
{% block title %}
{% if title %}
AI | Chatbot
{% else %}
food
{% endif %}
{% endblock title %}
{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'chatbot/css/chatbot.css' %}">


{% endblock head %}
{% block body %}
{% csrf_token %}
<br><br><br><br><br>
<div class="container_p">
    <section class="container_c">
        <article id='msgbox'>
            <div class="reply" style="display: flex; flex-direction: row;">
                <div class="left_msg" style="width: 18%; display: flex; justify-content: center; padding-top: 32px;">
                </div>
                <div class="right_msg" style="margin-right: 12%; padding-top: 2.5%;">
                    <p>Write your promt to get help!!!</p>
                </div>
            </div>
        </article>

        <article id="foot_msg" style="padding-top: 2%;">
            <!-- FILEPATH: /Users/sarveshdakhore/Mirror/Mirror/lol/seafood_ai/sea/chatbot/templates/chatbot/chatbot.html -->


            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="input-group mb-3">
                            <textarea id="message-input" class="form-control"
                                placeholder="Type your message here"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>
{% endblock body %}

{% block script %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function scrollDown() {
        var msgbox = document.getElementById("msgbox");
        msgbox.scrollTop = msgbox.scrollHeight;
    }
    $(document).ready(function() {
        const messageInput = $("#message-input");

        messageInput.on("keydown", function(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                sendMessage();
                
            }
        });

        function sendMessage() {
            const message = messageInput.val();
            $("#msgbox").append("<div class='promt' style='display: flex; flex-direction: row; '> <div class='left_msg' style='width: 18%; display: flex; justify-content: center; padding-top: 32px;'> </div> <div class='right_msg' style='margin-right: 12%; padding-top: 2.5%;'><p>" + message + "</p></div> </div>");
            $.ajax({
                url: "{% url 'send_message' %}",
                type: "POST",

                data: {
                    message: message,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                    console.log("Message sent successfully");
                    messageInput.val("");
                    $("#msgbox").append("<div class='reply' style='display: flex; flex-direction: row;'><div class='left_msg' style='width: 18%; display: flex; justify-content: center; padding-top: 32px;'></div><div class='right_msg' style='margin-right: 12%; padding-top: 2.5%;'><p>" + response.reply + "</p></div></div>");
                    scrollDown();
                },
                error: function(xhr, status, error) {
                    console.error("Error sending message:", error);
                }
            });
        }
    });
</script>




{% endblock script %}
