{% extends 'home/layout/layout.html' %}
{% block title %}
{% if title %}
SeaFood AI | {{title}}
{% else %}
SeaFood
{% endif %}
{% endblock title %}
{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">


{% endblock head %}
{% block body %}
{% csrf_token %}
<br><br><br>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<section class="photo">
    <img src="\static\1.png" alt="" srcset="">
</section>
<section class="content">
    <div class="heading">
        <h1>Your Gateway to Fresh, Delicious Seafood.</h1>
    </div>
    <div class="tb">
        <div class="text">
            <p>Got questions about seafood? Our expert chatbot is here to provide you with all the answers and information you need.
            </p>
        </div>
        <div class="button">
            <a href="{% url 'chatbot'%}">Get Access</a>
        </div>
    </div>
</section>
<section class="photo-1">
    <div class="heading">
        <h1>Our Mission</h1>
    </div>
    <div class="rc">
        <div class="rc_child_column">
            <img src="/static/2.png" alt="hi" srcset="">
            <div>
                <h2>Fostering a Seafood Legacy through Excellence and Innovation.</h2>
                <p>At Leher, we celebrate the ocean's bounty, nurture seafood excellence, and bring you remarkable culinary experiences.</p>
            </div>
        </div>
        <div class="rc_child_column_reverse">
            <img src="/static/3.png" alt="hello" srcset="">
            <div>
                <h2>Your Seafood information hub.</h2>
                <p>From product details including freshness, quality, and preparation tips, to comprehensive trade guidelines that keep you informed about industry standards, sustainability practices, and more, our platform is your go-to source for all things seafood.</p>
            </div>
        </div>
    </div>
    </div>
</section>
<footer class="footer" style="display: flex; justify-content: center;">Embarking on a journey of excellence, we're here to redefine the world of seafood, offering unparalleled quality.</footer>

{% endblock body %}

{% block script %}


{% endblock script %}
